.landing-page .hero {
  font-size: 1.5rem;
  height: 80vh;
  min-height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 10rem;
  margin-bottom: 2rem;
}

.landing-page .hero::before,
.landing-page .hero::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  z-index: -1;
  background-color: var(--colorBG);
  opacity: 0.7;
}

.landing-page .hero::after {
  background: linear-gradient(transparent 75%, var(--colorBG));
  opacity: 1;
}

.landing-page .hero h1 {
  font-size: 3rem;
}

.landing-page .hero p {
  font-size: 1.5em;
  width: 100%;
  margin: 1em 0 2em;
  color: var(--colorMidFG);
}

@media screen and (min-width: 680px) {
  .landing-page .hero {
    justify-content: center;
    padding-top: 0;
    margin-bottom: 4rem;
  }

  .landing-page .hero h1 {
    font-size: 5rem;
  }
}

.landing-page .features .features-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.landing-page .features .features-title h2 {
  font-size: 2rem;
  color: var(--colorAccent);
  display: inline-block;
}

.landing-page .features .line-after {
  display: inline-block;
  flex: 1;
  height: 0.75rem;
  margin-left: 1rem;
  background: var(--colorDarkBG);
}

.landing-page .features article {
  display: flex;
  margin-bottom: 2rem;
}

.landing-page .features h3 {
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.landing-page .features p {
  font-size: 1.4rem;
  line-height: 1.3;
  color: var(--colorMidFG);
}

.landing-page .projects .wrapper,
.landing-page .cta {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-page .projects {
  background: var(--colorDarkBG);
  padding: 3rem 0;
}

.landing-page .projects .wrapper {
  padding: 0;
}

.landing-page .projects h2 {
  text-align: center;
  text-transform: capitalize;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.landing-page .cta {
  background: url('../../images/what-are-you-waiting-for.jpg');
  background-size: cover;
  background-position: center;
  padding: 4rem 0;
  font-size: 1.5rem;
  position: relative;
  text-align: center;
  z-index: 1;
}

.landing-page .cta:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--colorBG);
  opacity: 0.5;
  z-index: -1;
  pointer-events: none;
}

.landing-page .cta h2 {
  margin: 0 auto 1rem;
  color: var(--colorAccent);
}

.landing-page .cta p {
  margin: 0 auto 2em;
}
