.Chat__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.Chat__link {
  text-decoration: none;
  color: inherit;
  display: contents;
}

.Chat__item {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr, 2fr, 2fr, 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    'logo name project date'
    'logo preview preview ...'
    'logo preview preview ...';
}

.Chat__logo {
  grid-area: logo;
  align-self: center;
}

.Chat__name {
  grid-area: name;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 700;
}

.Chat__project {
  grid-area: project;
}

.Chat__preview {
  grid-area: preview;
  align-self: center;
}

.Chat__date {
  grid-area: date;
}

/* global message styles */
.chats {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message {
  padding: 0.5rem;
  min-width: min(40vw, 25rem);
  max-width: 90%;
  background: var(--colorDarkBG);
  margin-bottom: 1rem;
}

.message header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.message header .avatar {
  height: 1.5rem;
  width: 1.5rem;
  font-size: 0.7rem;
  padding-top: 0.1rem;
  margin-right: 0.5rem;
}

.message header h4 {
  flex: 1;
}

.message header .date {
  text-align: right;
  color: var(--colorMidFG);
}

.message header .btn {
  font-size: 0.8rem;
  padding: 0 0.4rem;
  opacity: 0.6;
}

.message header .btn:hover {
  opacity: 1;
}

.message .body {
  font-size: 1.1rem;
  padding: 0.2rem 0;
}

.message .body input {
  background: var(--colorMidBG);
  margin-bottom: 0;
}

.message .body .btn {
  font-size: 0.9rem;
  margin-bottom: 0;
  margin-right: 0.5rem;
  transform: none;
  box-shadow: none;
}
