.project {
  font-weight: 500;
  height: 100%;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.project h3 {
  color: var(--colorAccent);
  margin-bottom: 1rem;
}

.project .description {
  line-height: 1.2;
  color: var(--colorMidFG);
}

.project .btn {
  margin-top: 1rem;
  font-size: 1rem;
  transform: none;
  box-shadow: none;
}

.project .info-item {
  margin-bottom: 0.7rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: var(--colorMidFG);
}

@media screen and (min-width: 680px) {
  .project {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .project .project-left {
    flex: 3;
  }

  .project .project-right {
    flex: 2;
    height: 100%;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }

  .project .info-item {
    justify-content: flex-end;
  }
}

.project .info-item svg {
  fill: var(--colorFG);
  height: 1.3em;
  width: 1.3em;
  margin-right: 0.7em;
}

.project .info-item p {
  width: 8em;
}

.project .tags {
  margin: 1rem 0;
}

@media screen and (min-width: 680px) {
  .project .tags {
    justify-content: flex-end;
    margin: 0.5rem 0 1rem;
  }

  .project .tags .tag {
    margin-right: 0;
    margin-left: 0.5rem;
  }
}
