.project-dash .project-info {
  font-size: 1.2rem;
}

.project-dash .project-info p {
  margin-bottom: 3rem;
}

.project-dash .column {
  margin-bottom: 0;
}

.project-dash .user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.6rem;
}

.project-dash .user .content {
  margin: 0 0.6rem;
  flex: 1;
}

.project-dash .user p {
  color: var(--colorMidFG);
  font-size: 0.9em;
}

.project-dash .user .btn-clear {
  padding: 0;
  background: none;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.8rem;
}

.project-dash .user .btn-clear:hover {
  color: var(--colorAccent);
}

.project-dash .project,
.project-dash .open-position {
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--colorDarkFG);
}

.project-dash .open-position {
  margin-bottom: 2rem;
}

.project-dash .open-position .btn {
  margin-right: 1rem;
  transform: none;
  box-shadow: none;
  margin-bottom: 0;
}

.project-dash .open-position .input-group {
  width: 100%;
}

.project-dash .project.links {
  justify-content: flex-start;
}

.project-dash .project.links li {
  margin-right: 1em;
}

.project-dash .project h4 {
  margin-bottom: 0.5rem;
}

.project-dash .project:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
  margin-bottom: 0;
}

.project-dash .btn-clear {
  opacity: 1;
}

.project-dash .chats {
  min-height: 10rem;
  max-height: 50rem;
  overflow-y: auto;
}
