.project-dash .project-info > p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  font-weight: 500;
}

.project-dash .project-info .user {
  margin-bottom: 2rem;
}

.project-dash .project-info .user p {
  margin: 0.2rem 0 0;
}

.project-dash .column {
  margin-bottom: 0;
}

/* global */
.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.6rem;
}

.user .content {
  margin: 0 0.6rem;
  flex: 1;
}

.user .content h4 {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.user p {
  color: var(--colorMidFG);
  font-size: 0.9em;
}

.user .btn-clear {
  padding: 0;
  background: none;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.8rem;
}

.user .btn-clear:hover {
  color: var(--colorAccent);
}
/* end global */

.project-dash .project,
.project-dash .open-position {
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--colorDarkFG);
}

.project-dash .open-position {
  margin-bottom: 2rem;
}

.project-dash .open-position .btn {
  margin-right: 1rem;
  transform: none;
  box-shadow: none;
  margin-bottom: 0;
}

.project-dash .open-position .input-group {
  width: 100%;
}

/* global links styles */
.project.links {
  justify-content: flex-start;
}

.project.links li {
  margin-right: 1em;
}

.project-dash .project h4 {
  margin-bottom: 0.5rem;
}

.project-dash .project:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
  margin-bottom: 0;
}

.project-dash .btn-clear {
  opacity: 1;
}

.project-dash .chats {
  min-height: 10rem;
  max-height: 32rem;
  overflow-y: auto;
}

.project-dash .chats .author {
  align-self: flex-start;
  background: var(--colorMidBG);
}

.project-dash .modal {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--colorDarkFG);
}

.project-dash .modal input {
  margin-bottom: 0;
}

.project-dash .modal .btn {
  transform: none;
  box-shadow: none;
  margin-right: 0.5rem;
  margin-bottom: 0;
  font-size: 1rem;
}
