.start-project {
  width: 80%;
}

ul {
  list-style-type: none;
}

.bold {
  font-weight: bold;
  background-color: teal;
  margin-right: 10px;
}

@media only screen and (min-width: 775px) {
  .start-project {
    width: 30%;
  }
}
