.notifications {
  position: relative;
}

.notifications .btn {
  opacity: 0.5;
  margin-right: 0;
}

.notifications .btn:hover,
.notifications .btn.open {
  background: var(--colorLightBG);
  opacity: 1;
}

.notifications.new .btn {
  opacity: 1;
}

.notifications.new::after {
  content: '';
  position: absolute;
  top: 0.2rem;
  right: 0.8rem;
  height: 0.4rem;
  width: 0.4rem;
  border: 0.15rem solid var(--colorBG);
  border-radius: 50%;
  background: var(--colorAccent);
  z-index: 10;
}

.notifications a {
  text-transform: initial !important;
}

.notifications .notifications-list {
  position: absolute;
  z-index: 5;
  right: -1.5rem;
  width: 20rem;
  max-width: 50vw;
  padding: 0 0.8rem;
  background: var(--colorLightBG);
  top: calc(100% + 1rem);
  transform: translateY(-30%);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.notifications .notifications-list.active {
  transform: none;
  pointer-events: all;
  opacity: 1;
}

.notifications .notifications-list li {
  margin-left: 0;
  padding: 0.8rem 0;
  border-bottom: 1px solid var(--colorDarkFG);
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

.notifications .notifications-list li:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
}

.notifications .notifications-list li span {
  display: block;
  color: var(--colorMidFG);
  font-weight: normal;
  font-size: 0.9em;
  margin-top: 0.3em;
}
