.loginpage fieldset {
  text-align: center;
  padding: 50px;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 10%;
}

.devlogin {
  text-align: center;
  padding: 15px;
  margin: 50px;
  border: 2px solid black;
  border-radius: 50%;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.loginpage .error {
  color: red;
}

.loginpage h3 {
  margin: 20px;
}

.loginpage label {
  padding: 5px;
}

.loginpage input {
  padding: 5px;
  margin: 20px;
  width: 125px;
}

.loginbtn {
  padding: 10px;
  margin: 25px;
  margin-bottom: 50px;
  width: 100px;
  border-radius: 15%;
  cursor: pointer;
}

.loginpage a {
  text-decoration: none;
  color: black;
  font-size: 11px;
  padding: 10px 25px;
  margin: 25px;
  width: 100px;
  border: 0.5px solid lightgrey;
  border-radius: 15%;
  cursor: pointer;
}
