.log-in form {
  padding: 10rem 3rem 3rem;
  height: 100%;
}

@media screen and (min-width: 680px) {
  .log-in {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .log-in form {
    height: initial;
    padding: 2rem 1.5rem;
  }
}
