.avatar {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--colorAccent);
  color: var(--colorBG);
  font-weight: 700;
  font-size: 1.3em;
}

.avatar.avatar-grey {
  background: var(--colorMidFG);
}
