/* reset */
@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');

/* fonts */
@import url('https://use.typekit.net/vcg0mey.css');

/* typography */
h1 {
  font-size: 5rem;
  font-weight: 900;
  text-transform: uppercase;
}

h2 {
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
}

em {
  font-style: italic;
}

/* colors */
:root {
  --colorBG: #000000;
  --colorDarkBG: #1c1c1c;
  --colorMidBG: #171717;
  --colorLightBG: #292929;
  --colorFG: #ffffff;
  --colorDarkFG: #6f6f6f;
  --colorMidFG: #c2c2c2;
  --colorAccent: #04f299;
  --colorDarkAccent: 3274036;
}

/* ===================================================================== */

/* global styles */
html {
  font-family: 'interstate', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

body {
  background: var(--colorBG);
  color: var(--colorFG);
}

/* links */
a {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s ease;
}

a:hover {
  color: var(--colorAccent);
  text-decoration: underline;
}

/* helper classes */
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
