nav {
  background: none;
  position: absolute;
  left: 0;
  right: 0;
  font-size: 1.2rem;
}

nav,
.nav-push {
  height: 6rem;
}

nav .wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .links {
  display: flex;
  flex: 1;
}

nav .links-left {
  padding-left: 2rem;
  justify-content: flex-start;
}

nav .links-right {
  justify-content: flex-end;
}

nav .links li {
  margin-left: 1rem;
}

nav .links a {
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
}

nav .links a.active {
  color: var(--colorAccent);
}
