nav {
  background: #dddddd;
  padding: 2rem 0;
  font-size: 1.2rem;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav .links li {
  margin-left: 1rem;
}
