.settingSection {
  display: flex;
  justify-content: center;
}

.updated {
  background-color: rgb(132, 199, 221);
  padding: 10px 10px;
  margin-bottom: 20px;
}
.fa-check {
  color: blue;
}

@media screen and (min-width: 680px) {
  .settingSection {
    flex-direction: row;
  }
  .settingForm {
    width: 50%;
  }
}
